<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allen.cours_selection">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Junior2" />
        <activity android:name=".Courseinfor" />
        <activity android:name=".Junior1" />
        <activity android:name=".Freshman2" />
        <activity android:name=".Sophomore1" />
        <activity android:name=".Sophomore2" />
        <activity android:name=".Senior1" />
        <activity android:name=".Senior2" />
        <activity android:name=".Freshman1" />
        <activity android:name=".engelective" />
        <activity android:name=".subject" />
        <activity android:name=".generalelective" />
        <activity android:name=".engelelist"></activity>
    </application>

</manifest>